@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Construyendo una Web Apps con ASP.NET Core</a></p>
</div>
